<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css.css" type ="text/css">
    <title>Weather In Your Area</title>
</head>
    <body>
        <section>
            <h2 class = "page_title">Weather In Your Area</h2>
            <form action="/city" method="post" id = "search_container">
                <label for="city">Search For A City:</label>
                <div id ="search_bar_container"> 
                    <img src="https://www.seekpng.com/png/detail/4-47640_magnifying-glass-magnifying-glass-free-icon.png" height="47px" width="45px">
                    <input type="search" id = "city" name = city>
                </div>
                <input type="submit" value="Search">
            </form>
            <p>A website that checks today's weather in a given city.</p>
        </section>
    </body>
</html>